{% layout 'layout.liquid'%}

{% block content %}

<div class="main-container flex-col-center">
    <h1>Hi, {{user.name}}! Here's your stuff.</h1>
    <br />
    <div class="flex-row-center" >
        <div class="flex-col-center profile-display" id="profile-tactics">
            <h1>Edit Tactics</h1>
            <div class="info">
                <div id="tactic-list-container">
                    <ul>
                    {% for tact in tactList %}
                    <li class="tactic-li"><a href="/game/tactic/user/{{tact._id}}/edit">
                        <p>{{tact.fen}}</p></a>
                        <a href="/game/tactic/user/{{tact._id}}"><input type="submit" value="View"></a>
                    </li>
                    {% endfor %}
                </ul>
                </div>

            </div>
        </div>
        <div id="profile-comments" class="flex-col-center profile-display">
            <h1>Review Comments</h1>
            <div class="info">
                {% for com in comList%}
                <div class="comment">
                    <h3>{{com.username}}</h3>
                    <p>{{com.body}}</p>
                    <form action="/users/profile/{{name}}/{{com._id}}?_method=DELETE" method="POST">
                        <input class="hidden" type="text" name="user" id="" value="{{com.user}}">
                        <input class="hidden" type="text" name="location" id="" value="{{com.location}}">
                        <input type="submit" value="Delete comment">
                    </form>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}