{% layout 'layout.liquid'%}

{% block content %}


<div class="main-display">
    <div class="info-container">
        <h1>Edit user info</h1>
        <div class="info">
            <h1>This is my user {{user.name}}
                Delete and Update routes need to be created.
                Then CSS updated.

            </h1>
        </div>
    </div>
    <div class="info-container">
    <h1>Edit Your Tactics</h1>
    <div class="info">
        <h1>These are my tactics by FEN</h1>
        {% for tact in tactList %}
           <a href="/game/tactic/user/{{tact._id}}/edit"><p>{{tact.fen}}</p></a> 
        {% endfor %}
    </div>
    </div>
    <div class="info-container">
    <h1>Edit Comments</h1>
    <div class="info">
        <h1>These are my comments</h1>
        {% for com in comList%}
        <div class="comment">
            <h3>{{com.username}}</h3>
            <p>{{com.body}}</p>
            <form action="/users/profile/{{name}}/{{com._id}}?_method=DELETE" method="POST">
                <input class="hidden" type="text" name="user" id="" value="{{com.user}}">
                <input class="hidden"type="text" name="location" id="" value="{{com.location}}">
                <input type="submit" value="Delete comment">
            </form>
        </div>

        {% endfor %}
    </div>
    </div>
</div>


{% endblock %}