
{% layout 'layout.liquid' %}

{% block content%}

<div id="create-menu">
    <div id="board-container-independent">

    </div>
    <form action="{{style}}" method="GET">
        <button id="success-btn" class="button">Move on to next</button>
    </form>
</div>




<div class="hidden">
    <div class="hidden" id="fen">{{fen}}</div>
    <div class="hidden" id="id">{{id}}</div>
    <div class="hidden" id="moves">{{moves}}</div>
    <div class="hidden" id="currMove">{{currMove}}</div>
</div>


<script src="/tacticLogic.js"></script>
{% endblock %}

